@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <section class="text-center jumbotron-fluid hero-img">
        <img src="~/images/quote-andersen-road-1173307-wallpaper.jpg" alt="quote"/>
        <h2 class="display-4 journal"><a asp-page="/Journal/Index">Journal</a></h2>
    </section>
